@charset "UTF-8";
/*메인으로 가는 버튼*/
.upre {
	width: 40px;
	margin-top: 15px;
}
/*카테고리 버튼 + 메뉴 바*/
input[id="menuicon"] {
	display: none;
}

input[id="menuicon"]+label {
	display: block;
	width: 30px;
	height: 20px;
	position: fixed;
	top: 34px;
	left: 30px;
	cursor: pointer;
	z-index: 2;
	transition: all .35s;
}

input[id="menuicon"]+label span {
	display: block;
	position: absolute;
	width: 100%;
	height: 3.5px;
	border-radius: 30px;
	background: lightgray;
	transition: all .35s;
}

input[id="menuicon"]+label span:nth-child(1) {
	top: 0;
}

input[id="menuicon"]+label span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

input[id="menuicon"]+label span:nth-child(3) {
	bottom: 0;
}

input[id="menuicon"]:checked+label span:nth-child(1) {
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked+label span:nth-child(2) {
	opacity: 0;
}

input[id="menuicon"]:checked+label span:nth-child(3) {
	bottom: 50%;
	transform: translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
	width: 300px;
	height: 100%;
	padding-left: 10px;
	background: white;
	position: fixed;
	top: 0;
	left: -300px;
	z-index: 1;
	transition: all .35s;
	top: 0;
}

input[id="menuicon"]:checked+label {
	left: 300px;
}

input[id="menuicon"]:checked+label+div {
	left: 0;
}
/* 로그인 아이콘 */
.login_btn {
	display: flex;
	align-items: center;
}

.login_icon {
	width: 40px;
}

.login_a {
	font-family: '강원교육모두 Light';
	font-size: 20px;
	text-decoration: none;
	color: gray;
	margin-left: 10px;
}

.login_a:hover {
	color: green;
}
/* 메뉴바 */
.sidebar {
	position: relative;
}

.sidebar_menu a {
	font-family: '강원교육모두 Light';
	font-size: 20px;
	color: gray;
	text-decoration: none;
	margin-left: 20px;
}

.sidebar_menu a:hover {
	color: green;
}

.about {
	position: absolute;
	bottom: 5%;
}

.about a {
	font-family: '강원교육모두 Light';
	font-size: 20px;
	color: gray;
	text-decoration: none;
	margin-left: 20px;
}

.about a:hover {
	color: green;
}

/*메인 페이지*/

/* PC 부분 */
@media screen and (min-width: 1024px) {
	.main {
		width: 100%;
		height: 640px;
	}
	/* 텀블러 구매 링크 */
	.tbr_wrapper {
		width: 130px;
		height: 130px;
		border-radius: 100%;
		background-color: gray;
		position: fixed;
		right: 2%;
		bottom: 4%;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;
	}
	.tbr_wrapper:hover {
		background-color: #80ff00;
	}
	.upre_tumblr {
		position: relative;
	}
	.tumblr_img {
		width: 46px;
	}
	.nukak {
		width: 300px;
		height: 100px;
		transform: rotate(90deg);
		position: absolute;
		left: 45%;
		top: 27%;
	}
	.freitag {
		width: 300px;
		height: 150px;
		position: absolute;
		left: 33%;
		top: 32%;
	}
	.more {
		width: 200px;
		height: 60px;
		position: absolute;
		left: 38%;
		top: 51%;
	}
	.cueclyp {
		width: 150px;
		position: absolute;
		left: 52%;
		top: 56%;
	}
	.ulkin {
		width: 170px;
		position: absolute;
		left: 59%;
		top: 83%;
	}
	.re_code {
		width: 180px;
		transform: rotate(270deg);
		position: absolute;
		left: 38%;
		top: 58%;
	}
	.continue {
		width: 180px;
		transform: rotate(270deg);
		position: absolute;
		left: 54%;
		top: 27%;
	}
	.pleats {
		width: 180px;
		transform: rotate(180deg);
		position: absolute;
		left: 52%;
		top: 77%;
	}
	.milky {
		position: absolute;
		left: 31%;
		top: 50%;
	}
	.tread {
		width: 150px;
		transform: rotate(90deg);
		position: absolute;
		left: 43%;
		top: 19%;
	}
	.patagonia {
		width: 150px;
		position: absolute;
		left: 34%;
		top: 21%;
	}
	.seokju {
		width: 40px;
		transform: rotate(270deg);
		position: absolute;
		left: 50%;
		top: 74%;
	}
	.kaneitei {
		width: 250px;
		transform: rotate(270deg);
		position: absolute;
		left: 23%;
		top: 28%;
	}
	.hicycle {
		width: 130px;
		transform: rotate(180deg);
		position: absolute;
		left: 63%;
		top: 33%;
	}
	.reo {
		width: 180px;
		transform: rotate(90deg);
		position: absolute;
		left: 62%;
		top: 62%;
	}
	.overlab {
		width: 220px;
		position: absolute;
		left: 59%;
		top: 44%;
	}
}

/* 테블릿 부분*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.main {
		width: 100%;
	}
	.main_wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.nukak {
		transform: rotate(0deg);
		width: 300px;
		height: 100px;
		position: static;
		align: center;
		margin : 10px 10px 0 10px;
	}
	.freitag {
		width: 300px;
		height: 150px;
		position: static;
	}
	.more {
		width: 200px;
		height: 60px;
		position: static;
		margin : 10px 10px 0 10px;
	}
	.cueclyp {
		width: 150px;
		position: static;
		margin : 10px 10px 0 10px;
	}
	.ulkin {
		width: 200px;
		position: static;
		margin : 10px 10px 0 10px;
	}
	.re_code {
		width: 180px;
		transform: rotate(0deg);
		position: static;
		margin : 10px 10px 0 10px;
	}
	.continue {
		width: 180px;
		transform: rotate(0deg);
		position: static;
		margin : 10px 10px 0 10px;
	}
	.milky {
		position: static;
		margin : 10px 10px 0 10px;
	}
	.pleats {
		width: 180px;
		transform: rotate(0deg);
		position: static;
		margin : 10px 10px 0 10px;
	}
	.tread {
		width: 150px;
		transform: rotate(0deg);
		position: static;
		margin : 10px 10px 0 10px;
	}
	.patagonia {
		width: 150px;
		position: static;
		margin : 10px 10px 0 10px;
	}
	.seokju {
		width: 40px;
		position: static;
		margin : 10px 10px 0 10px;
		transform: rotate(0deg);
	}
	.kaneitei {
		width: 250px;
		position: static;
		margin : 10px 10px 0 10px;
		transform: rotate(0deg);
	}
	.hicycle {
		width: 130px;
		position: static;
		margin : 10px 10px 0 10px;
		transform: rotate(0deg);
	}
	.reo {
		width: 180px;
		position: static;
		margin : 10px 10px 0 10px;
		transform: rotate(0deg);
	}
	.overlab {
		width: 220px;
		position: static;
		margin : 10px 10px 0 10px;
		transform: rotate(0deg);
	}
	.tbr_wrapper {
		width: 80px;
		height: 80px;
		border-radius: 100%;
		background-color: gray;
		position: fixed;
		right: 2%;
		bottom: 4%;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;
	}
	.upre_tumblr {
		position: relative;
	}
	.tumblr_img {
		width: 28px;
	}
}
/* 모바일 부분 */
@media ( max-width : 767px) {
	.main {
		width: 100%;
		height: 1700px;
	}
	.main_wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.nukak {
		transform: rotate(0deg);
		width: 300px;
		height: 100px;
		position: static;
		align: center;
		margin-top: 10px;
	}
	.freitag {
		width: 300px;
		height: 150px;
		position: static;
	}
	.more {
		width: 200px;
		height: 60px;
		position: static;
		margin-top: 10px;
	}
	.cueclyp {
		width: 150px;
		position: static;
		margin-top: 10px;
	}
	.ulkin {
		width: 200px;
		position: static;
		margin-top: 10px;
	}
	.re_code {
		width: 180px;
		transform: rotate(0deg);
		position: static;
		margin-top: 10px;
	}
	.continue {
		width: 180px;
		transform: rotate(0deg);
		position: static;
		margin-top: 10px;
	}
	.milky {
		position: static;
		margin-top: 10px;
	}
	.pleats {
		width: 180px;
		transform: rotate(0deg);
		position: static;
		margin-top: 10px;
	}
	.tread {
		width: 150px;
		transform: rotate(0deg);
		position: static;
		margin-top: 10px;
	}
	.patagonia {
		width: 150px;
		position: static;
		margin-top: 10px;
	}
	.seokju {
		width: 40px;
		position: static;
		margin-top: 10px;
		transform: rotate(0deg);
	}
	.kaneitei {
		width: 250px;
		position: static;
		margin-top: 10px;
		transform: rotate(0deg);
	}
	.hicycle {
		width: 130px;
		position: static;
		margin-top: 10px;
		transform: rotate(0deg);
	}
	.reo {
		width: 180px;
		position: static;
		margin-top: 10px;
		transform: rotate(0deg);
	}
	.overlab {
		width: 220px;
		position: static;
		margin-top: 10px;
		transform: rotate(0deg);
	}
	.tbr_wrapper {
		width: 50px;
		height: 50px;
		border-radius: 100%;
		background-color: gray;
		position: fixed;
		right: 2%;
		bottom: 4%;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;
	}
	.upre_tumblr {
		position: relative;
	}
	.tumblr_img {
		width: 18px;
	}
}

.footer {
	font-family: '강원교육모두 Light';
	width: 100%;
	text-align: left;
	line-height: 30px;
}

.footer_wrapper {
	margin-left: 50px;
}

.footer_notice a {
	text-decoration: none;
	color: gray;
}

.footer_notice a:hover {
	color: gray;
}
}