<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vam.mapper.LikeMapper">


	<insert id="likeCheck">
		insert into free_like values (#{id}, #{board_no}, #{like_check})
	</insert>

	<delete id="deleteLike" parameterType="map">
		DELETE FROM free_like
		WHERE id = #{id, jdbcType=INTEGER} AND board_no = #{board_no,
		jdbcType=INTEGER}
	</delete>



	<select id="like" parameterType="int"
		resultType="com.vam.model.LikeVO">

		select * from free_like where board_no = #{board_no}

	</select>

	

</mapper>
